<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="AmountPriceChanger" instance="Academy\EventObserverModule\Observer\AmountPriceChanger"/>
    </event>
    <event name="jsmodule_event">
        <observer name="JsonReceiver" instance="Academy\EventObserverModule\Observer\JsonReceiver"/>
    </event>
</config>
